.header{
    font-size: 30pt;
    text-align: center;
    width: auto;
    background: #252523;
    color: #fff;
    text-shadow: 1px 1px 1px 1px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.imgs{
  text-align: center;
  margin-bottom: -4px;
  display: none;
  max-height: 50%;
  overflow: hidden;
}

.fade{
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade{
  from {opacity: .4}
  to {opacity: 1}
}

#container{
    width: auto;
    height: auto;
    margin: 0 auto;
    display: grid;
    background: #dfd8c8;
    display: flex;
    font-family: 'Open Sans Condensed', sans-serif;
}

.leftSide{
    display: flex;
    flex: 50%;
    width: auto;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputs{
    height: 20px;
    font-size: 8pt;
    box-shadow: 1px 1px 1px 1px;
    margin: 5px;
}

@media screen and (min-width: 600px) {
    .inputs {
      font-size: 16pt;
    }
}

  @media screen and (min-width: 992px) {
    .inputs {
      font-size: 18pt;
    }
}

#selector{
    height: 20px;
    font-size: 8pt;
    box-shadow: 1px 1px 1px 1px;
    margin: 5px;
}

@media screen and (min-width: 600px) {
    #selector {
      font-size: 16pt;
      height: 30px;
    }
}

  @media screen and (min-width: 992px) {
    #selector {
      font-size: 18pt;
      height: 40px;
    }
}


#rightSide{
    height: auto;
    flex: 50%;
    text-align: center;
    margin: 0 auto;
    color: white;
    background: #a39274;
    padding: 10px 10px 10px 10px;
    text-shadow: 1px 1px 1px #000;
    font-size: 10pt;
}

@media screen and (min-width: 600px) {
    #rightSide {
      font-size: 16pt;
    }
  }

  @media screen and (min-width: 992px) {
    #rightSide {
      font-size: 18pt;
    }
  }


#checkButt{
    background: #4cb69f;
    border: hidden;
    height: 30px;
    box-shadow: 1px 1px 1px #000;
    margin: 5px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

#checkButt:hover{
    cursor: pointer;
    opacity: .8;
}

#checkButt:active{
    cursor: pointer;
    opacity: .5;
}